RewriteEngine on
RewriteCond %{HTTP_HOST} ^kolster-app.onlinewithyou.nl/$ [NC,OR]
RewriteCond %{HTTP_HOST} ^kolster-app.onlinewithyou.nl$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]
